/******************************************************/
/*                                                    */
/*                       Nav_bar                      */
/*                                                    */
/******************************************************/

#navBar {
	float: left;
	width: $NB_width;
	text-align: center;
	#lightInformation, #messaging, #group, #link, #manageUsers, #manageGroups, #manageCategories {
		background-color: $blue3;
		border-radius: 10px;
		border: 1px solid $blue4;
		overflow: hidden;
		h1 {
			text-align: center;
			height: 40px;
			line-height: 40px;
			background-color: $blue4;
			&:hover {
				cursor: pointer;
			}
			img {
				float: right;
				margin: 10px 20px 10px 0px;
				padding: 0;
				border: none;
			}
		}
	}
	#messaging, #group, #link, #manageGroups, #manageCategories {
		margin-top: 10px;
	}
	#messaging, #group, #link, #manageUsers, #manageGroups, #manageCategories {
		border-radius: 10px;
		h1 {
			padding-left: 40px;
		}
		ul {
			padding: 10px;
		}
		li {
			text-align: left;
			width: $NB_width - 20px;
			a {
				@include overflowHidden;
				display: block;
				border-radius: 5px;
				padding: 5px 10px;
				&:hover {
		      		background-color: $blue4;
		      		color: black;
		    	}
			}
		}
		& > #contentGroup p:first-child {
			@include overflowHidden;
			text-align: left;
			padding: 10px 20px;
			a:hover {
				color: $blue5;
			}
		}
		p {
			@include overflowHidden;
			text-align: right;
			padding: 0px 20px 10px 20px;
			a:hover {
				color: $blue5;
			}
		}
	}
	#link {
		p {
			text-align: center;
		}
	}
	#lightInformation {
		h1 {
			padding-left: 40px;
		}
		img {
			margin: 20px 20px 10px 20px;
			border-radius: 10px;
			border: 1px solid $blue5;
		}
		ul {
			width: 210px;
			margin: 0px;
			padding: 10px 20px 10px 20px;
		}
		li {
			@include overflowHidden;
			text-align: left;
			padding: 5px 0px;
  			&:first-child {
  				padding: 0px 0px 5px 0px;
  			}
  			&:last-child {
				padding: 5px 0px 0px 0px;
  			}
		}
		p {
			@include overflowHidden;
			text-align: right;
			padding: 10px 20px;
			a:hover {
				color: $blue5;
			}
		}
	}
}