@mixin popup($bg-color, $br-color) {
	border:2px solid $br-color;
	background-color: $bg-color;
	color:$br-color;
	border-radius: 10px;
}

#popup {
	@include center(500px);
	text-align: center;
	margin-top: 20px;
	padding: 10px 10px;
	border-radius: 10px;
	#messagePopup {
		padding-left: 10px;
		height: 20px;
		#optionsPopup {
			float: right;
			margin: 5px 0px;
			&:hover { cursor: pointer; }
		}
	}
	&[class="error"] {
		@include popup($red2, $red3);
	}
	&[class="success"] {
		@include popup($green1, $green2);
	}
}