/******************************************************/
/*                                                    */
/*                       Ribbon1                      */
/*                                                    */
/******************************************************/

.mainRibbon {
    height: 350px;
    padding-top: 200px;
    .contentMainRibbon {
    	@include center(650px);
    	text-align: center;
    	border: 1px solid $blue5;
        background-color: $blue1;
        border-radius: 10px;
    	color: black;
        padding: 30px 0px;
    	h1 {
    		font-size: 40px;
            margin-bottom: 30px;
    	}
    	p[class="button"] {
    		@include button ($blue5, white);
            margin-top: 30px;
            display: inline-block;
    		a {
                color: white;
            }
    	}

        p[class="link"] {
            padding-top: 5px;
            font-size: 12px;
            a:hover {
                color: $blue5;
                text-decoration: underline;
            }
        }
    }
}

/*.ribbon2 {
    height: 600px;
    background-color: grey;
}*/